# Application Configuration
PORT=8000
HOST=0.0.0.0
DEBUG=True
RELOAD=True

# Database Configuration
DATABASE_URL=sqlite:///./app.db

# API Configuration
GLOBAL_PREFIX=/sskind-backend
API_PREFIX=/api/v1
DOCS_URL=/docs
REDOC_URL=/redoc

# CORS Configuration
CORS_ORIGINS=["*"]
CORS_CREDENTIALS=True
CORS_METHODS=["*"]
CORS_HEADERS=["*"] 